@import "../../../compoment/utls/mixins";
@import "../../../compoment/header_footer/index_header/index_header";

.categories-list {
    > a {
        text-decoration: none;
        color: #333;
        display: block;
        vertical-align: top;
        border-bottom: 1px solid #ededed;
        background: #fff;
        padding: 10px 0 10px 10px;

        > h2 {
            font-size: 20px;
            margin-bottom: 6px;
        }

        > i {
            color: #999;
            font-size: 12px;
        }

    }
}