@charset "utf-8";
@import "../header_footer/index_header/index_header";
@import "../header_footer/index_footer/index_footer";
.main {
    padding-bottom: 50px;
}

.loading-index {
    position: fixed;
    top: 30%;
    height: 30px;
    background: #ddd;
}

.fade-enter-active,
.fade-leave-active {
    transition: all .3s
}

.fade-enter {
    transform: translateX(-100%);
}

.fade-leave-active {
    opacity: 0;
}