//作者信息

@include exports("compoment/userinfo/authorinfo/authorinfo"){
    .authorInfo {
        display: inline-block;
        text-decoration: none;

        //左边的头像
        > img {
            border-radius: 50%;
            width: 35px;
            height: 35px;
        }

        //右边的作者介绍
        address {
            font-size: 14px;
            margin-left: 8px;
            display: inline-block;

            //等级
            i {
                line-height: 1.5;
                display: inline-block;
                background: #8dc56a;
                padding: 0 3px;
                color: white;
                border-radius: 5px;
            }

            > p {
                color: #999;
                font-size: 12px;
            }
        }
    }
}