@import "../../utls/mixins";

@include exports("articles/articleItem") {
    .articleItem {
        border-radius: 10px;
        background: #fff;
        overflow: hidden;
        margin-top: 10px;
        box-shadow: 0 1px 2px #cacaca;
        padding: 10px 10px 8px;
        color: #333;

        //作者信息
        .articleItem-author {
            display: block;
            text-decoration: none;

            //左边的头像
            > img {
                border-radius: 50%;
                width: 35px;
                height: 35px;
            }

            //右边的作者介绍
            address {
                font-size: 14px;
                margin-left: 8px;
                display: inline-block;

                //等级
                i {
                    line-height: 1.5;
                    display: inline-block;
                    background: #8dc56a;
                    padding: 0 3px;
                    color: white;
                    border-radius: 5px;
                }

                > p {
                    color: #999;
                    font-size: 12px;
                }
            }
        }

        //内容摘要
        .articleItem-content {
            display: block;
            text-align: justify;

            //标题
            h2 {
                font-size: 16px;
                margin: 6px 0;

            }

            //摘要
            p {

                font-size: 14px;
                color: #999;
            }

            //回帖数量
            div {
                margin-top: 5px;
                text-align: right;
                color: #666;

                img {
                    vertical-align: text-top;
                    width: 18px;
                }
            }
        }
    }
}