@import "../compoment/utls/mixins";
@import "../compoment/utls/reset";
@import "../compoment/header_footer/footer_onlyback/footer_onlyback";

body{
    font-size: 14px;
    line-height: 1.45em;
    font-family: "微软雅黑" !important;
}

